<app-navbar [currentUser]="user"></app-navbar>
<div class="parent-container">
	<div class="loader-container d-flex justify-content-center align-items-center" *ngIf="showLoader">
		<p-progressSpinner></p-progressSpinner>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="post-container">
					<div class="row">
						<div class="col-md-6">
							<img [src]="post.PhotoUrl" alt="Post Image" class="img-fluid post-image" />
						</div>
						
						<div class="col-md-5">
							<div class="post-header" *ngIf="user.Data != undefined">
								<img [src]="user.Data?.photoUrl" alt="Profile Picture" class="profile-picture" />
								<h4 class="username">{{ user.Data.Name }}</h4>
							</div>
							<div class="post-description">
								<div class="d-flex align-items-center">
									<div class="caption-wrapper">
										<p class="description">{{ post.Caption }}</p>
									</div>
									<div class="like-wrapper">
										<button class="like-button" (click)="toggleLike()">
											<i class="pi" [ngClass]="isLiked ? 'pi-heart' : 'pi-heart-fill'"></i>
											<span class="likes-count">{{ likesCount }}</span>
										</button>
									</div>
								</div>
							</div>
							<hr />
							<div class="comments">
								<div class="scrollable-comments"
									[style]="{ 'max-height': '200px', 'overflow-y': 'auto' }">
									<div class="comment" *ngFor="let comment of comments">
										<h5 class="username">{{ comment.UserName }}</h5>
										<p class="comment-text">{{ comment.CommentStr }}</p>
									</div>
								</div>
							</div>
							<div class="add-comment">
								<div class="d-flex align-items-center">
									<input type="text" class="form-control mr-2" placeholder="Add a comment"
										[(ngModel)]="comment.CommentStr" />
									<button class="btn btn-success" (click)="onClickAddComment()">
										Post
									</button>
								</div>
							</div>
						</div>
						<div *ngIf="this.id == user.id" class="edit-menu col-md-1 px-0 mx-0 my-0 py-0 float-end">
							<span class="material-icons-outlined" (click)="op.toggle($event)">
								more_vert
								</span>
								<p-overlayPanel #op>
									<ul class="edit-menu-items">
										<li><a class="dropdown-item" href="javascript: void(0)" (click)="showDialog($event)">Edit</a></li>
										<li><a class="dropdown-item" href="javascript: void(0)" (click)="onDeleteClick(post)">Delete</a></li>
									</ul>
								</p-overlayPanel>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="dialog">
        <p-dialog header="Edit Post" [(visible)]="visible" (onHide)="closeDialog()" [style]="{width: '50%',height: '85%'}">
            <app-edit-post [postObj]="post" (postCreated)="onPostCreation($event)"></app-edit-post>
        </p-dialog>
     </div>
</div>