<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="post-container">
        <div class="row">
          <div class="col-md-6">
            <img [src]="post.PhotoUrl" alt="Post Image" class="img-fluid post-image">
          </div>
          <div class="col-md-6">
            <div class="post-header">
              <img [src]="user.Data?.photoUrl" alt="Profile Picture" class="profile-picture">
              <h4 class="username">{{ user.Data?.Name }}</h4>
            </div>
            <hr>
            <div class="post-description">
              <h5 class="username">Username</h5>
              <p class="description">{{ post.Caption }}</p>
            </div>
            <hr>
            <div class="comments" *ngFor="let comment of comments">
              <div class="comment">
                <h5 class="username">{{ comment.UserName }}</h5>
                <p class="comment-text">{{ comment.CommentStr }}</p>
              </div>
            </div>
            <div class="add-comment">
              <div class="d-flex align-items-center">
                <input type="text" class="form-control mr-2" placeholder="Add a comment" [(ngModel)]="comment.CommentStr">
                <button class="btn btn-success" (click)="onClickAddComment()">Post</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
