.post-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.like-button {
  border: none;
  cursor: pointer;
}

.pi {
  color: red;
}

.likes-count {
  margin-left: 0.5em;
}

.caption-wrapper {
  flex-grow: 1;
}

.like-wrapper {
  margin-left: 1em;
}


.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.post-description {
  margin-top: 10px;
}

.comments {
  margin-top: 10px;
}

.comment {
  margin-bottom: 5px;
}

.comment .username {
  font-weight: bold;
  margin-right: 5px;
}

.add-comment {
  margin-top: 10px;
}

.parent-container {
  position: relative;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
