<app-navbar></app-navbar>
<div class="main-content">
	<h1>Explore your Community</h1>
	<a href="javascript: void(0)" (click)="onClickMyProfile($event)">My Profile</a>
	<div class="user-list">
		<div class="search-container">
			<input type="text" [(ngModel)]="searchTerm" placeholder="Search by name">
			<button (click)="search()">Search</button>
		</div>
		<br>
		<ul>
			<li *ngFor="let user of usersList">
				<img [src]="user.Data.photoUrl" alt="User Image">
				<div class="user-info">
					<div class="user-name">{{ user.Data.Name }}</div>
					<div class="user-bio">{{ user.Data.Bio }}</div>
					<button (click)="showDialog(user)" label="Show">See User</button>
				</div>
			</li>
		</ul>
	</div>
</div>

<p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw','background-color': '#a19787'}"
	[styleClass]="'custom-dialog'">
	<app-user-detail [user]="user"></app-user-detail>
</p-dialog>