body {
  background-color: #260628
}

#auth {
  height: 100vh;
  overflow-x: hidden
}

#auth #auth-right {
  height: 100%;
  background:  linear-gradient(90deg, #2d499d, #3f5491)
}

#auth #auth-left {
  padding: 5rem 8rem
}

#auth #auth-left .auth-title {
  font-size: 4rem;
  margin-bottom: 1rem
}

#auth #auth-left .auth-subtitle {
  font-size: 1.7rem;
  line-height: 2.5rem;
  color: #a8aebb
}

#auth #auth-left .auth-logo {
  margin-bottom: 7rem
}

#auth #auth-left .auth-logo img {
  height: 2rem
}

@media screen and (max-width:767px) {
  #auth #auth-left {
    padding: 5rem
  }
}

.parent-container {
  position: relative;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
