<!-- <div class="main-content">
    <h1>My Feed</h1>
<button class="btn btn-success" (click)="onCLickCreatePost()">Create Post</button>
<div class="container">
    <ng-container *ngFor="let post of postsList;">
        <div>{{post.Data?.Caption}}</div>
        <div>{{post.Data?.Likes}}</div>
        <img height="50" width="50" [src]="post.Data.PhotoUrl" alt="User Image">
        <button *ngIf="id == post?.Data?.User" class="btn btn-sm btn-warning" (click)="onCLickEditPost(post)">Edit Post</button>
        <button class="btn btn-sm btn-warning" (click)="onCLickViewPost(post)">View Post</button>
    </ng-container>

</div>
</div> -->
<app-navbar></app-navbar>

<div class="main-content">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-lg-7" *ngFor="let post of postsList; let i = index">
        <div class="post">
          <div class="user-photo">
            <img
              [src]="post.User.photoUrl"
              alt="User Photo"
              class="img-fluid user-photo-image"
            />
            <span class="username">{{ post.User.Name }}</span>
          </div>
          <div class="photo">
            <img
              [src]="post.Data.PhotoUrl"
              alt="Post Image"
              class="img-fluid"
            />
          </div>
          <div
            class="actions d-flex justify-content-between align-items-center">
            <div class="like">
              <button class="like-button" (click)="toggleLike(post)">
                <i
                  class="pi"
                  [ngClass]="post.isLiked ? 'pi-heart-fill' : 'pi-heart'"
                ></i>
                <span class="likes-count">{{ post.Data.Likes }}</span>
              </button>
            </div>
            <div class="comment">
              <button class="comment-button" (click)="goToViewPost(post)">
                <i class="pi pi-comment"></i>
              </button>
            </div>
          </div>
          <div class="caption">
            <p class="caption-text">
              <strong>{{ post.User.Name }}</strong> {{ post.Data?.Caption }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
