/* For progress spinner */
.parent-container {
  position: relative;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.image-section{
  height: 70vh;
  width: 25vw;
  object-fit: cover;
}

.image-section img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  height: 100%;
  width: 190%;
}

.drag-over {
  background-color: #f7f7f7;
}

.custom-textarea{
  resize: none;
  border: none;
  outline: none;
  height: 50vh; /* Set the desired height to control the number of rows */
  width: 300px;
}
