<div class="parent-container">
    <div class="loader-container d-flex justify-content-center align-items-center" *ngIf="showLoader">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <div class="row">
        <div class="col-4 col-lg-4 image-section">
            <div *ngIf="!post?.PhotoUrl" class="drop-area" (drop)="handleFileDrop($event)"
                (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
                <p>or</p>
                <input type="file" (change)="handleFileInput($event)" multiple>
            </div>
            <img *ngIf="post?.PhotoUrl" [src]="post.PhotoUrl" alt="User Image">
        </div>
        <div *ngIf="post?.PhotoUrl" class="col-4 col-lg-4 details-section">
            <div class="mb-3">
                <textarea placeholder="Write something ...." name="caption" id="caption" class="custom-textarea" [(ngModel)]="post.Caption"></textarea>
                <button class="btn btn-lg btn-warning" (click)="save(post)">Save</button>
            </div>
        </div>
    </div>
</div>