<h1>Create Post</h1>
  <div class="parent-container">
    <div class="loader-container d-flex justify-content-center align-items-center" *ngIf="showLoader">
      <p-progressSpinner></p-progressSpinner>
    </div>


        <div>
            <div class="mb-3">
                <textarea name="caption" id="caption" cols="30" rows="10" [(ngModel)]="post.Caption"></textarea>
            </div>
            <div class="mb-3">
                <img height="50" width="50" [src]="post.PhotoUrl" alt="User Image">
                <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">

            </div>



        </div>
        <button class="btn btn-lg btn-warning" (click)="save(post)">Save</button>
        <button *ngIf="post.ID != undefined" class="btn btn-lg btn-danger" (click)="onDeleteClick(post)">Delete</button>

  </div>
